---
import type { HTMLAttributes } from 'astro/types'

interface Props extends HTMLAttributes<'section'> {
  title: string
  classNameTitle?: string
}

const { title, class: className, classNameTitle, ...props } = Astro.props
---

<section class:list={['relative animate-fade-in-up', className]} {...props}>
  <h3
    class:list={['absolute -top-[12vw] left-0 font-bold text-[15vw] text-center w-full text-neutral-800 uppercase', classNameTitle]}
    style={{ fontFamily: 'Spicy Rice, cursive' }}
  >
    {title}
  </h3>
  <slot />
</section>
