<div class="background">
  <div class="stars">
    <li class="small"></li>
    <li class="small"></li>
    <li></li>
    <li class="small"></li>
    <li class="small"></li>
    <li></li>
    <li></li>
    <li></li>
    <li class="small"></li>
    <li></li>
    <li></li>
    <li class="small"></li>
    <li class="small"></li>
    <li class="small"></li>
    <li class="small"></li>
    <li></li>
    <li class="small"></li>
    <li class="small"></li>
    <li class="small"></li>
    <li></li>
    <li class="small"></li>
    <li class="small"></li>
    <li></li>
    <li class="small"></li>
    <li class="small"></li>
    <li class="small"></li>
    <li class="small"></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li class="small"></li>
    <li></li>
    <li class="small"></li>
    <li class="small"></li>
    <li></li>
    <li></li>
    <li class="small"></li>
    <li></li>
    <li class="small"></li>
    <li class="small"></li>
    <li></li>
    <li class="small"></li>
    <li class="small"></li>
    <li class="small"></li>
    <li class="small"></li>
    <li></li>
    <li></li>
  </div><!-- end div.stars -->
</div>

<style>
  /*-- background --*/
  .background {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
  }
  /*-- stars --*/
  .stars {
    width: 100%;
    height: 100%;
    position: relative;
    background: transparent;
    background-size: 100%;
    background-position: 0px 15px;
  }
  .stars li {
    background: radial-gradient(ellipse at center, rgba(230, 234, 237, 1) 0%, rgba(21, 118, 151, 0) 100%);
    list-style-type: none;
    width: 10px;
    height: 10px;
    -webkit-transform: rotate(45deg);
    display: block;
    position: absolute;
  }
  .stars li.small {
    width: 5px;
    height: 5px;
  }
  .stars li:nth-child(1) {
    top: 46%;
    left: 5%;
  }
  .stars li:nth-child(2) {
    top: 51%;
    left: 9%;
  }
  .stars li:nth-child(3) {
    top: 68%;
    left: 10%;
  }
  .stars li:nth-child(4) {
    left: 17.4%;
    bottom: 31%;
  }
  .stars li:nth-child(5) {
    left: 18.3%;
    top: 68%;
  }
  .stars li:nth-child(6) {
    left: 21%;
    bottom: 38%;
  }
  .stars li:nth-child(7) {
    left: 23%;
    top: 62%;
  }
  .stars li:nth-child(8) {
    left: 25%;
    top: 63%;
  }
  .stars li:nth-child(9) {
    left: 27%;
    top: 17%;
  }
  .stars li:nth-child(10) {
    left: 33%;
    top: 17%;
  }
  .stars li:nth-child(11) {
    top: 45%;
    left: 29%;
  }
  .stars li:nth-child(12) {
    left: 34%;
    top: 50%;
  }
  .stars li:nth-child(13) {
    left: 35.4%;
    top: 50.3%;
  }
  .stars li:nth-child(14) {
    left: 34.8%;
    top: 51%;
  }
  .stars li:nth-child(15) {
    top: 58%;
    left: 33.5%;
  }
  .stars li:nth-child(16) {
    left: 23.6%;
    bottom: 20%;
  }
  .stars li:nth-child(17) {
    left: 32%;
    top: 17.5%;
  }
  .stars li:nth-child(18) {
    left: 42%;
    top: 6%;
  }
  .stars li:nth-child(19) {
    left: 42%;
    top: 18%;
  }
  .stars li:nth-child(20) {
    left: 43.2%;
    top: 21%;
  }
  .stars li:nth-child(21) {
    left: 45.5%;
    top: 25%;
  }
  .stars li:nth-child(22) {
    left: 45%;
    bottom: 29%;
  }
  .stars li:nth-child(23) {
    right: 46%;
    bottom: 33.2%;
  }
  .stars li:nth-child(24) {
    right: 45.2%;
    bottom: 29.7%;
  }
  .stars li:nth-child(25) {
    bottom: 26%;
    left: 55.4%;
  }
  .stars li:nth-child(26) {
    bottom: 29.7%;
    left: 56.7%;
  }
  .stars li:nth-child(27) {
    bottom: 33.7%;
    left: 57.4%;
  }
  .stars li:nth-child(28) {
    left: 57%;
    top: 24%;
  }
  .stars li:nth-child(29) {
    left: 62.5%;
    top: 12%;
  }
  .stars li:nth-child(30) {
    left: 72%;
    top: 4%;
  }
  .stars li:nth-child(31) {
    left: 79%;
    top: 16.5%;
  }
  .stars li:nth-child(32) {
    left: 85%;
    top: 48%;
  }
  .stars li:nth-child(33) {
    left: 42.4%;
    top: 9%;
  }
  .stars li:nth-child(34) {
    left: 67%;
    top: 39%;
  }
  .stars li:nth-child(35) {
    left: 74.5%;
    top: 25.5%;
  }
  .stars li:nth-child(36) {
    left: 74.8%;
    top: 27.4%;
  }
  .stars li:nth-child(37) {
    left: 78%;
    top: 24%;
  }
  .stars li:nth-child(38) {
    left: 91.5%;
    top: 30.5%;
  }
  .stars li:nth-child(39) {
    left: 95.5%;
    top: 29.5%;
  }
  .stars li:nth-child(40) {
    left: 91.8%;
    top: 33.5%;
  }
  .stars li:nth-child(41) {
    left: 96.8%;
    top: 39.8%;
  }
  .stars li:nth-child(42) {
    left: 98.5%;
    top: 41.2%;
  }
  .stars li:nth-child(43) {
    left: 90.5%;
    top: 47.5%;
  }
  .stars li:nth-child(44) {
    left: 80%;
    top: 54%;
  }
  .stars li:nth-child(45) {
    left: 97%;
    top: 61%;
  }
  .stars li:nth-child(46) {
    left: 77%;
    top: 61%;
  }
  .stars li:nth-child(47) {
    left: 79.5%;
    top: 63.5%;
  }
  .stars li:nth-child(48) {
    left: 71%;
    top: 73%;
  }
</style>
